.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsContainer {
    box-sizing: border-box;
    padding: 10px;
    width: 95%;
    border: 1px solid rgb(126, 125, 125);
}

.itemsContainer:nth-child(2) {
    margin: 20px 0;
}

.positioner {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.disabled {
    max-height: 0;
    overflow: hidden;
}

.visible {
    height: auto;
    overflow: hidden;
}