.wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column {
    width: 23%;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .column {
        max-width: 100%;
    }
}